@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-primary: #273142;
  --color-secondary: #FAF6E9;
  --color-white: #FAFAFA;
  --color-black: #333333;
  --color-gray: #E5E6E4;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-display: 3rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --space-0: 0px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;

  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;

  --border-radius-8: 8px;
  --border-radius-16: 16px;

  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


  font-family: "Rubik", sans-serif;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}