.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-32) var(--space-0);
    position: relative;
}

.navbar__logo {
    color: var(--color-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.navbar__items {
    display: flex;
    gap: var(--space-32);
    list-style: none;
}

.navbar__link {
    color: var(--color-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
    text-decoration: none;
}

.navbar__link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar__logo {
        width: 100%;
        text-align: center;
    }

    .navbar__items {
        display: none;
    }
}